.main{
  margin-top: 70px;
  margin-left: 350px;
  width: 50%;
  border: 1px solid darkslategray;
  padding: 30px;
 
}
.img{
    width: 150px;
    margin-left: 220px;    
}

.modalimg{
 
  margin-right: 10px;
 
}