.login{
    width: 240px;
    margin-top: 50px;
    margin-left: 450px;
}
.margin5{
    margin-top: 55px;
}
.buttonSize{
    width: 250px;
    margin-left: 50px;
}
.text{
    margin: auto;
  width: 50%;
}
.tweetHeader{
    color:gray;
}

.twt-button{
    margin-top: 10px;
    margin-left: 980px;
}