.login{
    width: 240px;
    margin-top: 50px;
    margin-left: 450px;
}
.margin5{
    margin-top: 55px;
}
.buttonSize{
    width: 250px;
    margin-left: 50px;
}
.text{
    width: 750px;
}
.tweetHeader{
    color:gray;
}

.twt-button{
    margin-left: 700px;
}