.login{
    width: 240px;
    margin-top: 50px;
    margin-left: 450px;
}
.margin5{
    margin-top: 55px;
}
.buttonSize{
    width: 250px;
    margin-left: 50px;
}
.text{
    margin: auto;
  width: 50%;
  border-color: darkblue;
}
.tweetHeader{
    color:darkslategrey;
    margin-left: 340px;
    margin-top: 100px;
}

.twt-button{
    margin-top: 10px;
    margin-left: 950px;
}